body {
  overflow: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Arial', Helvetica, sans-serif;
}

ul {
  list-style: none;
}

button {
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

main {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-color: #282828;
}

.canvas-container {
  /* top: 0px;
  left: 0px;
  position: absolute; */
  height: 100vh;
  width: 100vw;
  /* z-index: -1; */
}

#canvas {
  overflow: hidden;
  /* position: absolute; */
}

p {
  font-size: 14px;
  color: #777;
}

li, a, button {
  /* text-shadow: 1px 1px #000; */
  font-size: 20px;
  color: #777;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  /* font-weight: 800; */
}

a:hover, button:hover {
  transition: all .1s ease-in;
  color: #4dadf7;
}

li {
  margin: 20px;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.train-controls {
  display: flex;
  flex-direction: column;
}

.left-nav, .right-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-nav {
  align-items: flex-end;
  bottom: 0;
  right: 0;
}

.portfolio-links {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 250px; */
}

.portfolio-links li:first-child {
  height: 30px;
}

.portfolio-links li:first-child:hover::before {
  content: 'github';
  white-space: pre;
  color: #4dadf7;
}

.portfolio-links li:nth-child(2):hover::before {
  content: 'linkedin';
  margin-left: 15px;
  color: #4dadf7;
}

.portfolio-links li:last-child {
}

/* .portfolio-links li:last-child:hover::before {
  content: "more projects   ";
  margin-left: 15px;
  color: #4dadf7;
} */

.about {
  display: none;
  margin: 20px;
}


.about-trigger:hover + .about {
  display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.links-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  border-radius: 10px;
  margin-right: 10px;
}

.controls.hidden {
  display: none;
}

.controls button {
  text-align: left;
  font-size: 1em;
}

@keyframes slideinleft {
  from { transform: translate(-120px); }
  to   { transform: translate(0px); }
}

@keyframes slideinright {
  from { transform: translate(120px); }
  to   { transform: translate(0px); }
}

@keyframes fadeout {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.controls-toggle {
  text-align: left;
}

.controls-toggle.hidden:before {
  content: 'show '
}

.controls-toggle:before {
  content: 'hide '
}

.bullet-hidden {
  display: none;
}

.subway-bullet {
  display: block;
  height: 100px;
  width: 100px;
  margin: 50px;
  animation: .3s slideinleft, 1s fadeout linear 1 forwards;
}

.subway-bullet.left-bullet {
  animation: .3s slideinleft, 1s fadeout linear 1 forwards;
}

.subway-bullet.right-bullet {
  animation: .3s slideinright, 1s fadeout linear 1 forwards;
}

.modal-screen {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255, .2)
}

.modal-screen.hidden {
  display: none;
}

.modal-content {
  width: 50vw;
  min-height: 50vh;
  background: black;
  border-radius: 50px;
  text-align: center;
}

.modal-content header {
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.modal-content header span {
  font-size: 30px;
  cursor: pointer;
}

.modal-content header span:hover {
  color: grey;
}

.modal-content p {
  margin: 30px;
}

.modal-content h2, h3, span, p {
  color: #fff;
}

.modal-content h3 {
  margin-bottom: 40px;
}

button.about-trigger {
  font-size: 26px;
}
