ul {
  list-style: none;
}

button {
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

main {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-color: #282828;
}

.background-img-container {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  display: none;
  position: absolute;
  top: -22vh;
  left: -50.4vw;
  height: 160%;
  /* width: auto; */
  z-index: -1;
  transform: rotate(-8deg);
}

.canvas-container {
  /* position: relative; */
  width: 100vh;
  height: 100vh;
  /* z-index: -1; */
  margin: auto;
}

#canvas {
  /* display: block; */
  /* margin: auto; */
  /* height: 100%; */
  /* width: 100%; */
  transform: rotate(-8deg);
}

a, button {
  font-size: 20px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  /* font-weight: 800; */
}

a:hover, button:hover {
  transition: all .1s ease-in;
  color: #4dadf7;
}

li {
  margin: 20px;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.train-controls {
  display: flex;
  flex-direction: column;
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  text-align: right;
  margin-right: 50px;
  margin-top: 20px;
  width: 250px;
}

.controls button {
  text-align: right;
}

@keyframes slidein {
  from { transform: translate(-120px); }
  to   { transform: translate(0px); }
}

@keyframes fadeout {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.bullet-hidden {
  display: none;
}

.subway-bullet {
  display: block;
  height: 100px;
  width: 100px;
  margin: 50px;
  animation: .3s slidein, 1s fadeout linear 1 forwards;
}
