ul {
  list-style: none;
}

button {
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

main {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-color: #282828;
}

.canvas-container {
  /* position: relative; */
  width: 100vh;
  height: 100vh;
  /* z-index: -1; */
  margin: auto;
}

#canvas {
  /* display: block;
  margin: auto;
  /* height: 100%; */
  /* width: 100%; */
  /* transform: rotate(-8deg); */
}

a, button {
  font-size: 20px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  /* font-weight: 800; */
}

a:hover, button:hover {
  transition: all .1s ease-in;
  color: #4dadf7;
}

li {
  margin: 20px;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.train-controls {
  display: flex;
  flex-direction: column;
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
